
.logo-sec {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.back-logo {
    background-color: #1F7DCF;
    padding: 0px 15px 15px 15px;
    border-radius: 8px;
    text-align: center;
}
.logo-sec img{
    text-align: center;
}
.sec-cont {
    border: 1px solid rgba(204, 204, 204, 0.37);
    width:  90%;
    margin:  0 auto;
    border-radius:  7px;
    position: relative;
    top: -20px;
    background:  #fff;
}
.sec-cont h5 {
    text-align: center;
    font-size: 23px;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #00458c;
    font-weight: 600;
}
.sec-cont div.cnt-outer {
    padding: 0 20px;
    display:  block;
    margin-bottom: 20px;
}
.sec-cont ul {
    margin: 0;
    padding: 0;
}
.sec-cont b, .sec-cont h6 {
    color: #00458c;
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
}
.sec-cont p {
    color: #00458c;
    font-weight: 500;
    font-size: 14px;
}
.sec-cont ul li {
    list-style: none;
    padding:  5px;
    color: #FF5722;
    font-weight: 500;
    font-size: 15px;
}
.sec-cont ul li.go-to {
    margin: 10px 0;
    text-align: center;
}
.sec-cont ul li.go-to a {
    text-decoration: none;
    color:  #fff;
    background:  #1F7DCF;
    padding:  9px 20px;
    border-radius:  5px;
    font-size: 14px;
}
.sec-cont i {
    text-align:  center;
    display:  block;
    color: #848383;
    font-style:  normal;
    margin: 40px 0;
    font-size: 14px;
}
.sec-cont ul.scl-icn li {
    display:  inline-block;
    text-align:  center;
}
.sec-cont ul.scl-icn li img {
    width:  30px;
    margin: 6px;
}
.sec-cont ul.scl-icn, .sec-cont ul.scl-login {
    text-align: center;
    margin: 0;
    padding: 0;
}
.sec-cont ul.scl-icn p, .sec-cont ul.scl-login p {
    color: #00458c;
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0 0px 0;
}
p.cop-rit {
    text-align:  center;
    font-size: 14px;
    color: #848383;
    margin-top: 0;
}
img.foot-imf {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
h1, h2, h3, h4, h5, h6, p, a, li {
      font-family: muli;
}
ul.scl-login li {
  display:  inline-block;
  margin-top: 10px;
}
ul.scl-login li img {
  width:  100px;
  height: 35px;
}
p.reset {
  overflow: hidden;
}
div ul li.middle-order {
  text-align:  center;
  color: #217ccf;
  position:  relative;
  width: 70%;
  margin: 0 auto;
}
li.middle-order:after {
  content:  "";
  border-bottom: 1px solid rgba(204, 204, 204, 0.50);
  width: 150px;
  height:  2px;
  display:  block;
  position:  absolute;
  right: 0px;
  top: 12px;
}
li.middle-order:before {
  content: "";
  border-bottom: 1px solid rgba(204, 204, 204, 0.50);
  width: 150px;
  height: 2px;
  display: block;
  position: absolute;
  left: 0px;
  top: 12px;
}